.Business {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 24.66rem;
  margin: 0 .3rem 4.0rem 1.8rem;

  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #b1afad17;
padding:40px;
box-sizing: border-box;
}

.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
border-radius: 10px;
}

.Business h2 {
font-weight: normal;
font-style: italic;
font-size: 30px;
font-family: garamond,serif;
    margin-bottom: 45px;
}

.Business-information {
  display: flex;
  justify-content: space-between;

      font-family: garamond,serif;
}

.Business-information p {
  font-size: 1rem;
      font-weight: 300;
      line-height: 1.3rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #CCA353;
  font-weight: normal;
font-size: 1.3rem;
}

.Business-reviews .rating {

}

.button {
    border: 1px solid;
    font-family: "Garamond", serif;
    font-weight: 400;
    text-align: center;
    box-shadow: 2px 3px 0 0;
    color: #000;
    padding: 1px 5px;
    font-size: 20px;
    display: inline-block;
    width: 98px;
    text-decoration: none;
    margin-bottom: 30px;
}
/*
.button:hover{color: #fff;background-color: black;    -webkit-box-shadow: 2px 3px 0 0;
    box-shadow: 2px 3px 0 0;
    }
*/
.button:before {
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 100%;
    right: 0;
    content: "";
    display: inline-block;
    -webkit-transition: .28s all ease;
    transition: .28s all ease;
    z-index: 0;
}
@media only screen and (max-width: 400px) {
  .Business {
    width: 90%;
margin-left: 0px;
margin-right: 0px;
  }


}
